<form class="" action="write" method="post">
  标题:
  <input type="text" name="title" value=""> 作者:
  <input type="text" name="author" value="wodog">
  <br> 内容:
  <textarea name="content" rows="8" cols="40"></textarea>
  <br>
  <input type="submit" value="提交">
</form>